<link rel="stylesheet" href="/static/sty/boxes.css" />
<link rel="stylesheet" href="/static/sty/content.css" />
<link rel="stylesheet" href="/static/sty/highlights.css" />


{% include "header.j2" %}

<div class="content-frame">
    <div class="content-main">
        {% block main %}

        {% endblock %}
    </div>
</div>
