<head>
  <link rel="stylesheet" href="/static/sty/header.css" />
</head>
<body>
  <div class="header">
      <div class="header-main">
          <a href="/home">
            <img src="/static/img/logo.png" alt="Logo">
          </a>
            <h1>ReelBot Configuration</h1>
            <label>
              <select>
                <option value="option1">Debug Server</option>
              </select>
            </label>
      </div>
      <div class="box-h navbar">
          <a class="button" href="/home">Home</a>
          <a class="button" href="/settings">Settings</a>
          <a class="button" href="/plugins">Plugins</a>
          <a class="button" href="/profile">Profile</a>
          <div class="spacer-flex-h"></div>
          <a class="button" href="/status">Status</a>
          <a class="button" href="/logs">Logs</a>
      </div>
  </div>
</body>
