<head>
  <link rel="stylesheet" href="static/header.css" />
</head>
<body>
  <header>
    <img src="static/img/smiley.webp" alt="Logo">
    <h1>ReelBot Configuration</h1>
      <label>
          <select>
            <option value="option1">Debug Server</option>
          </select>
      </label>
  </header>
  <header>
    <a href="http://localhost:8000/bot-status">link text</a>
  </header>
</body>
