{% extends "base.j2" %}

{% block main %}
    <h2>Welcome to the ReelBot Webinterface ❤️</h2>
    <p class="warning">WARNING!<br>This is a very early build of the Webinterface. Errors will occur, features are missing and the layout will change.</p>
    <p>
    This is a plugin for ReelBot. It lets you configure and control the bot and its plugins.
    </p>
{% endblock %}