<link rel="stylesheet" href="static/plugins/plugin_visualizer.css" />

<div class="box-h" id="visualizer-container">
    <p>Plugin Name</p>
    <div class="spacer-flex-h"></div>
    <button>Configuration</button>
    <button>Status</button>
    <button>Start / Stop</button>
</div>