<link rel="stylesheet" href="/static/sty/plugin_visualizer.css" />

<div class="box-h {% if plugin.status == Status.STARTED %} info {% endif %}" id="visualizer-container">
    <div class="center-v">
        {% set start_button_message = "Start / Stop" %}
        {% if plugin.status == Status.STARTED %}
            🟢
            {% set start_button_message = "⏹ Stop" %}
        {% elif plugin.status == Status.STOPPED  %}
            🔴
            {% set start_button_message = "▶ Start" %}
        {% elif plugin.status == Status.ERROR  %}
            ⚠️
            {% set start_button_message = "Restart" %}
        {% else %}
            ⚪
            {% set start_button_message = "▶ Start" %}
        {% endif %}
    </div>
    <p>{{ plugin.name }}</p>
    <div class="spacer-flex-h"></div>
    <button onclick="window.location.href='{{ plugin.plugin_id }}'">Details</button>
    <button>{{ start_button_message }}</button>

</div>