<head>
  <link rel="stylesheet" href="static/sty/header.css" />
</head>
<body>
  <header>
      <div class="header-main">
          <a href="/visual/home">
            <img src="static/img/logo.png" alt="Logo">
          </a>
            <h1>ReelBot Configuration</h1>
            <label>
              <select>
                <option value="option1">Debug Server</option>
              </select>
            </label>
      </div>
      <div class="box-h" id="navbar">
          <a class="button" href="/visual/home">Home</a>
          <a class="button" href="/visual/status">Status</a>
          <a class="button" href="/visual/settings">Settings</a>
          <a class="button" href="/visual/plugins">Plugins</a>
          <a class="button" href="/visual/profile">Profile</a>
          <div class="spacer-flex-h"></div>
          <a class="button" href="/visual/server">Servers</a>
          <a class="button" href="/visual/logs">Logs</a>
      </div>
  </header>
</body>
